@font-face {
    font-family: rb;
    src: url(./assets/Rejouice-Headline.ttf);
}

html,body{
    margin:0;
    padding:0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
} 

.container>.title>h1{
    font-family: rb;
    letter-spacing: 5px;
    font-size: 5vw;
}


.integrated{
    display: flex;
    margin: 20px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    object-fit: contain;
}


.anchor{
    object-fit: contain;
    border: 2px solid black; 
    border-radius: 10px;
}

img{
    object-fit: cover;
}

.anchor:hover{
    background-color: aquamarine;
}