html,body{
    margin:0;
    padding:0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
} 



.integrated{
    display: flex;
    width:100% !important;
    object-fit: contain;
}

img{
    
    height: 50%;
}

